.user_selection, .user_selection_true {
  padding: 2px 0;
}

.highlight{
  background: #e6e6e6;
}

.user_selection .anchor, .user_selection_true .anchor {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid #02c;
  background: #02c;
  margin-left: 0.2em;
  vertical-align: text-bottom;
}